@import './base.css';

.button-1 {
  margin-left: 10px;
  font-size: 24px;
  color: white;
  font-weight: bolder;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: none !important;
  background-color: rgb(57, 91, 154) !important;
  box-shadow: 0 0px 20px 0 rgb(57, 91, 154);
  transition: all 0.4s;
}
.button-2 {
  margin-left: 10px;
  font-size: 24px;
  color: white;
  font-weight: bolder;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: none !important;
  background-color: rgb(0, 172, 237) !important;
  box-shadow: 0 0px 20px 0 rgb(0, 172, 237);
  transition: all 0.4s;
}
.button-1:hover {
  width: 90px !important;
  border-radius: 50px !important;
}
.button-2:hover {
  width: 90px !important;
  border-radius: 50px !important;
}

.footer-div {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid rgb(126, 126, 126);
}
.text-content {
  padding: 1px;
}
.text-div {
  align-items: center;
  opacity: 0.5;
}
.icon-content {
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
}
.icon-icon {
  font-size: 16px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
